body{
    font-family: 'Playfair Display', serif;
    text-align: center;

}

h2{
    font-size: 2rem;
    text-align: center;
}
hr{
    width: 65%;
    margin-right: auto;
}
.graphDiv{
    width: 65%;
    height: 65%;
    height: auto;
    margin: auto;
}
.mb{margin-bottom: 2%;}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: orange;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 1rem;
    padding: 1%;
    width: 20%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 1%;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}
.button:hover span:after {
    opacity: 1;
    right: 0;
}

.slidecontainer {
    width: 20%;
    margin: auto;
}
  
.slider {
    display: none;
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
  .slider:hover {
    opacity: 1;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: orange;
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.dsplay{
    display: none;
}

.center{
    margin: auto;
    text-align: center;
}